{
  "env": {
    "test": {
      "presets": [
        "@babel/preset-typescript",
        ["@babel/preset-env", {"exclude": ["transform-regenerator"]}]
      ],
      "plugins": ["babel-plugin-transform-scss"]
    }
  }
}