html {
  --green: green;
  --white: white;
  --black: black;
  --gray: gray;
  --orchid: orchid;
  --lightgreen: #c5ffc5;
  --lightorchid: #da70d638;
  --lightgray: lightgray;
  --lightergreen: #c5ffc57a;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  border: 1px solid var(--green);
  font-size: 0;
  margin-bottom: 25px;
}

fieldset input {
  border: 0;
  outline: none;
  appearance: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
  box-sizing: border-box;
}

fieldset legend {
  position: absolute;
  transform: translateY(-50%);
  background-color: var(--white);
  top: 0;
  font-size: 16px;
  margin-left: 15px;
}

button {
  border: 1px solid transparent;
  background-color: var(--grey);
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

button.success {
  background: var(--lightgreen);
  border: 1px solid var(--green);
  color: var(--black);
}
