html {
  --green: green;
  --white: white;
  --black: black;
  --gray: gray;
  --orchid: orchid;
  --error: rgb(255, 0, 0);
  --lighterror: #fee5e8;
  --lightgreen: #c5ffc5;
  --lightorchid: #da70d638;
  --lightgray: lightgray;
  --lightergreen: #c5ffc57a;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  min-height: 100%;

  &--center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.h1 {
  font-size: 70px;
}

.h2 {
  font-size: 50px;
}

.fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  border: 1px solid var(--green);
  font-size: 0;
  margin-bottom: 25px;

  &__input {
    border: 0;
    outline: none;
    appearance: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
  }

  &__legend {
    position: absolute;
    transform: translateY(-50%);
    background-color: var(--white);
    top: 0;
    font-size: 16px;
    margin-left: 15px;
    z-index: 1;
  }

  &--error {
    border-color: var(--error) !important;
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.form-actions {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.card {
  border-radius: 20px;
  padding: 20px;
  border: 1px solid var(--gray);
  box-shadow: 8px 8px 8px 0 var(--lightgreen);
  max-width: 400px;
  width: 100%;
}

@keyframes shake {
  10%,
  90% {
    left: -1px;
  }

  20%,
  80% {
    left: 2px;
  }

  30%,
  50%,
  70% {
    left: -4px;
  }

  40%,
  60% {
    left: 4px;
  }
}

.hidden {
  display: none !important;
}

.text--pinky {
  color: var(--orchid);
}

.text--greeny {
  color: var(--green);
}

.mr-10 {
  margin-right: 10px;
}

.display_name {
  flex: 1;

  &__input {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 20px;
    padding-right: 30px;
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 35px;

    &--editable {
      border: 1px dashed var(--lightgray);
    }

    &:focus {
      border: 1px solid var(--gray);
    }
  }
}
