.popup {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    background-color: var(--white);
    padding-top: 60px;
    box-shadow: 8px 8px 8px 0 var(--lightergreen);

    &__form-actions {
      &__add {
        background-color: transparent;
        border-color: var(--green);
        color: var(--green);

        &:hover {
          background-color: var(--green);
          color: var(--white);
        }
      }

      &__close {
        background-color: transparent;
        border-color: var(--gray);
        color: var(--gray);

        &:hover {
          background-color: var(--gray);
          color: var(--white);
        }
      }
    }

    &--add-user__form-actions {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .button {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}
