.chats-page {
  display: flex;
  width: 100%;
}

.chatlist {
  width: 340px;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__head {
    padding: 20px;
    border-right: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    border-left: 1px solid var(--gray);
    border-bottom-left-radius: 20px;
    background-color: var(--white);

    &__text {
      text-align: right;
    }

    &__input {
      width: 100%;
      border: 1px solid var(--gray);
      padding: 15px 20px;
      box-sizing: border-box;
      border-radius: 20px;
      outline: none;

      &:focus {
        border-color: var(--black);
      }
    }
  }

  &__item {
    display: flex;
    padding: 15px;
    border: 1px solid var(--lightgray);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 15px 15px 0;
    cursor: pointer;
    background-color: var(--white);

    &__inner {
      width: 100%;
      display: flex;
    }

    &--active#{&} {
      margin-left: 0;
      margin-right: 0;
      border-radius: 0;
      background-color: var(--orchid);
      border-color: var(--orchid);
      color: var(--white);
      padding-left: 30px;
      padding-right: 30px;
    }

    &__date {
      font-size: 12px;
      color: var(--gray);
      max-width: 70px;
    }

    &__unread-count {
      display: inline-block;
      text-align: center;
      line-height: 25px;
      width: 25px;
      height: 25px;
      background-color: var(--lightgreen);
      border-radius: 50%;
      margin-left: 10px;
    }

    &__author,
    &__name {
      font-weight: bold;
    }

    &__message {
      margin-top: 10px;

      &--you {
        .chatlist__item__author {
          color: var(--orchid);
        }
      }

      &--not-you {
        .chatlist__item__author {
          color: var(--green);
        }
      }
    }

    &--active {
      .chatlist__item__message--you,
      .chatlist__item__message--not-you {
        .chatlist__item__author {
          color: var(--white);
        }
      }

      & .chatlist__item__unread-count {
        background-color: var(--lightgreen);
        color: var(--black);
      }

      & .chatlist__item__date {
        color: var(--white);
      }
    }

    &__avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      background-color: var(--lightgray);
      margin-right: 15px;
    }

    &__mid {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-right: 15px;
      justify-content: center;
    }

    &__right {
      text-align: right;
      align-items: center;
      display: flex;
    }
  }

  &__items__wrap {
    display: flex;
    overflow-y: auto;
    border-right: 1px solid var(--gray);
    flex: 1;
  }

  &__items {
    width: 100%;
    display: flex;
  }

  &__content-box {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    flex: 1;
  }
}

.chat-thread {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 100%;

  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;

    &__create {
      margin-bottom: 0;

      &__btn {
        background-color: transparent;
        border-color: var(--orchid);
        color: var(--orchid);
        margin-left: 10px;

        &:hover {
          background-color: var(--orchid);
          color: var(--white);
        }
      }
    }
  }

  &__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray);
    padding: 10px 20px;

    &__left {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__right {
      position: relative;
    }

    &__settings {
      padding: 10px;
      cursor: pointer;

      &__button {
        display: flex;
        flex-direction: column;

        &__dot {
          width: 5px;
          height: 5px;
          background-color: var(--gray);
          border-radius: 50%;
          margin: 1px 0;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;

    &__overview-date {
      padding: 24px 20px;
      text-align: center;
      border-bottom: 1px dashed var(--lightgray);
    }
  }

  &__message {
    max-width: 40%;
    width: max-content;
    border: 1px solid var(--gray);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 8px 8px 8px 0 var(--lightergreen);

    &--not-you {
      border-top-left-radius: 0;
    }

    &__sender {
      font-weight: bold;
      color: var(--green);
      margin-bottom: 10px;
    }

    &--you {
      margin-left: auto;
      border-bottom-right-radius: 0;
      box-shadow: 8px 8px 8px 0 var(--lightorchid);

      .chat-thread__message__sender {
        color: var(--orchid);
      }
    }

    &__bottom-line {
      display: flex;
      margin-top: 15px;
      align-items: center;
      justify-content: end;
    }

    &__status {
      font-size: 0;
      margin-right: -12px;
    }

    &--sent .chat-thread__message__status svg path {
      stroke: var(--lightgray);
    }

    &--sent .chat-thread__message__status svg .second-check {
      display: none;
    }

    &--delivered .chat-thread__message__status svg path {
      stroke: --gray;
    }

    &--seen .chat-thread__message__status svg path {
      stroke: var(--orchid);
    }

    &__date {
      color: var(--gray);
      font-size: 12px;
      line-height: 1;
      margin-right: 5px;
    }

    &__content__image {
      max-width: 100%;
    }
  }

  &__actions {
    display: flex;
    padding: 20px;
    border-top: 1px dashed var(--gray);

    &__send {
      cursor: pointer;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(-90deg);
      align-self: flex-end;
      background:
        var(--orchid) url(../../../static/images/arrow.svg) center
        no-repeat;
    }

    &__attach {
      margin-top: 10px;
      cursor: pointer;
    }

    &__input {
      flex: 1;
      margin-left: 20px;
      margin-right: 20px;
      font-size: 0;

      textarea {
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
        resize: none;
        font-size: 18px;
        font-family: serif;
        border: 1px dashed var(--gray);
        border-radius: 20px;
        outline: none;
        border-bottom-right-radius: 0;

        &:focus {
          border: 1px solid var(--gray);
        }
      }
    }
  }
}

.chat-thread__messages {
  &__inner {
    padding: 20px;
  }

  overflow-y: auto;
}
