.card {
  border-radius: 20px;
  padding: 20px;
  border: 1px solid var(var(--gray));
  box-shadow: 8px 8px 8px 0px var(--lightgreen);
  max-width: 400px;
  width: 100%;
}

.profile__avatar {
  width: 100px;
  height: 100px;
  background-color: var(--orchid);
  border-radius: 50%;
  margin-right: 20px;
}

.profile__badge {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
